/*
  +------------------------------------+
  |        Elements in all page        |
  +------------------------------------+
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  background: linear-gradient(to right, #b24592, #f15f79);
  min-height: 100vh;
}
.title {
  text-align: center;
  padding: 0 1em;
  color: #fff;
  font-size: 2.4rem;
}
p {
  margin: 0.5em;
}
/*
  +------------------------------------+
  |   Elements in the konami section   |
  +------------------------------------+
*/
.sec-konami {
  display: none;
}
.active {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.konami-title {
  font-size: 2rem;
  text-align: center;
  animation: konami-title 2s linear;
  animation-iteration-count: infinite;
  -webkit-text-stroke: 0.03em #fff;
}
@keyframes konami-title {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
.konami-gif {
  margin: 0 auto;
}
/*
  +------------------------------------+
  |    Elements in the form section    |
  +------------------------------------+
*/
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 30%);
  margin: 2rem auto;
  width: 90%;
  max-width: 600px;
}
.form {
  padding: 2rem;
  text-align: center;
}
.form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.3em;
  margin-bottom: 2rem;
}
.form-container {
  display: grid;
  gap: 1.2rem;
}
.form-group {
  position: relative;
}
.form-input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.4rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #5757577e;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #b24592;
}

.form-label {
  color: #5757577e;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 2px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form-group-range {
  position: relative;
}
.form-input-range {
  -webkit-appearance: button;
  max-width: 50%;
  overflow: hidden;
  appearance: none;
  border-radius: 35px;
  background-color: #ededed;
  margin-top: 4px;
  float: right;
}
.form-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #b24592;
  border-radius: 50%;
  border: 2.5px solid #fff;
  box-shadow: -208px 0 0 200px #b24592;
  cursor: pointer;
}
.form-input-range::-webkit-slider-thumb:hover {
  background-color: #d853b1;
  box-shadow: -208px 0 0 200px #d853b1;
}
.form-label-range {
  position: absolute;
  top: 6px;
  left: 2px;
}
.form-label-check {
  position: absolute;
  top: 3px;
  left: 1.7rem;
}

.checkbox-label {
  font-size: 0.7em;
  cursor: pointer;
}
.form-input-checkbox {
  display: none;
}
.form-checkbox-span {
  position: relative;
  height: 2em;
  width: 2em;
  background-color: #b24592;
  border-radius: 100%;
  transition: all 0.3s;
  float: left;
}
.form-checkbox-span:hover {
  background-color: #d853b1;
}
.form-checkbox-span::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 0.3em 0.3em 0;
  transform: rotate(45deg);
  width: 0.5em;
  height: 1em;
  left: 0.6em;
  top: 0.25em;
  opacity: 0;
  transition: 0.3s ease;
}
.checkbox-label .form-input-checkbox:checked ~ .form-checkbox-span:after {
  opacity: 1;
}
.alert {
  background: #f8d7da;
  color: #b02a37;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #b02a37;
  display: none;
}
.success {
  background: #d1e7dd;
  color: #146c43;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #146c43;
  display: none;
}
.show {
  display: block;
}
.btn {
  background: #b24592;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  background: #d853b1;
  transition: ease-in-out 0.3s;
}
@media screen and (max-width: 635px) {
  .form {
    padding: 1rem;
  }
  .form-group-range {
    display: flex;
    flex-direction: column;
  }
  .form-label-range {
    position: static;
    margin-bottom: 0.8rem;
  }
  .form-input-range {
    position: static;
    width: 90%;
    margin: 0 auto;
  }
}
